.graph {
    width: 720px;
    height: 240px;
}
#tooltip {
    position: absolute;
    border: solid #fdd 2px;
    background-color: #fee;
    opacity: 0.8;
    padding: 4px;
    font-family: sans-serif;
}
#menu {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 256px;
}
#content {
    position: relative;
    left: 272px;
}
