.graph {
    width: 720px;
    height: 240px;
}
a, a:hover, a:visited {
    text-decoration: none;
}
ul.contents a:hover:after {
    content: " ‣‣";
}
ul {
    list-style: none;
}
#tooltip {
    position: absolute;
    border: solid #fdd 2px;
    background-color: #fee;
    opacity: 0.8;
    padding: 4px;
    font-family: sans-serif;
}
#loader {
    font: normal 200% sans-serif;
    position: fixed;
    top: 4px;
    left: 4px;
    background-color: white;
    padding: 6px;
    color: gray;
    opacity: 0.5;
}
#sidebar {
    position: fixed;
    left: 8px;
    top: 8px;
    width: 256px;
    overflow-y: auto;
    bottom: 8px;
}
#content {
    position: relative;
    left: 272px;
    top: 32px;
    display: inline-block;
}
#bottom {
    position: absolute;
    bottom: 8px;
    background: white;
    z-index: 100;
}

